{% extends 'blog/base.html' %}
{% load i18n %}

{% load static %}
{% load blog_tags %}
{% load humanize %}

{% block title %}VGB Blog: {{ post.title }}{% endblock %}
{% block content %}
<div class="container-md py-5">
  <div class="row g-5">
    <div class="col-md-8">

      <article class="blog-post">
        <a href="{% url 'blog:post_list_by_category' post.category %}">{{ post.get_category_display }}</a>
        <h1 class="blog-post-title border-0 m-0 p-0">{{ post.title }}</h1>
        <div class="d-flex align-items-center justify-content-between pb-2 mb-2 border-bottom">
          <small>By <a href="#">{{ post.author|capfirst }}</a></small>
          <small>{{ post.publish|date:"F j, Y | h:i a"}}{% if has_been_updated %} | {% trans 'Updated' %} {{ post.updated|naturaltime }}{% endif %}</small>
        </div>
        <img src="{{ post.images.first.image.url }}" alt="post image" width="100%">
        <p>{{ post.body|markdown }}</p>
      </article>
      
      <div class="tags d-flex py-2">
        <span class="pe-2 filed-under">{% trans 'Filed under' %}</span>
        {% post_tags post 8 %}
      </div>

      <div class="card about border-start-0 border-end-0">
        <div class="row g-0">
          <div class="col-md-2">
            <img src="..." class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">{% trans 'About' %} {{ post.author|capfirst }}</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>

      <nav class="next-post d-flex py-2 border-bottom" aria-label="Next Post">
        <a class="pe-2 read-next" href="{{ similar_posts.0.get_absolute_url }}">{% trans 'Read next' %}</a>
        <a href="{{ similar_posts.0.get_absolute_url }}">{{ similar_posts.0.title }}</a>
      </nav>
  
    </div>

    {% include 'blog/snippets/sidebar.html' with similar_posts=similar_posts %}

  </div>
</div>

<!-- TODO
NEXT POST
RATE THIS POST -->
{% endblock content %}
  