{% extends 'blog/base.html' %}
{% load i18n %}
{% load l10n %}

{% load static %}
{% load blog_tags %}
{% load humanize %}

{% block title %}VGB Blog: {{ post.title }}{% endblock %}
{% block content %}
<div class="container-md py-5">
  <div class="row g-5">
    <div class="col-md-8">

      <article class="blog-post">
        <a href="{% url 'blog:post_list_by_category' post.category %}">{{ post.get_category_display }}</a>
        <h1 class="blog-post-title border-0 mb-1 p-0">{{ post.title }}</h1>
        <div class="d-flex align-items-center justify-content-between pb-2 mb-2">
          <small>By <a href="#">{{ post.author.get_full_name|capfirst }}</a></small>
          <small>{{ post.publish }}{% if has_been_updated %} | {% trans 'Updated' %} {{ post.updated|naturaltime }}{% endif %}</small>
        </div>
        <img src="{{ post.images.first.image.url }}" alt="post image" width="100%">
        <p>{{ post.body|markdown }}</p>
      </article>
      
      <div class="tags d-flex py-2">
        <span class="pe-2 filed-under">{% trans 'Filed under' %}</span>
        {% post_tags post 8 %}
      </div>

      <div class="card about border-start-0 border-end-0 py-3 rounded-0">
        <div class="row g-0">
          <div class="col-md-2 d-flex justify-content-center">
            <img src="{{ post.author.image.url }}" class="img-fluid rounded-circle " alt="{{ post.author.get_full_name }}" height="96" width="96">
          </div>
          <div class="col-md-10 d-flex">
            <div class="card-body align-self-center">
              <h5 class="card-title">{% trans 'About' %} {{ post.author.get_full_name|capfirst }}</h5>
              <p class="card-text">{{ post.author.short_bio }}</p>
            </div>
          </div>
        </div>
      </div>


      {% if similar_posts %}
      <nav class="next-post d-flex py-2 border-bottom" aria-label="Next Post">
        <a class="p-2 read-next text-dark" href="{{ similar_posts.0.get_absolute_url }}">{% trans 'Read next' %}</a>
        <a class="p-2" href="{{ similar_posts.0.get_absolute_url }}">{{ similar_posts.first.title|truncatewords:10 }}</a>
      </nav>

      <div class="row mt-3">
        <h4 class="fst-italic">{% trans 'Similar Posts' %}</h4>
        {% for post in similar_posts %}
        <a class="col-sm-4" href="{{ post.get_absolute_url }}">
          <div class="card">
            <img src="{{ post.get_thumbnail_url }}" alt="post image" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ post.title|truncatewords:4 }}</h5>
              <p class="card-text">{{ post.body|truncatewords:10 }}</p>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    {% include 'blog/snippets/sidebar.html' %}

  </div>
</div>

<!-- TODO
NEXT POST
RATE THIS POST -->
{% endblock content %}
  