{% extends 'blog/base.html' %}

{% load static %}
{% load blog_tags %}
{% load humanize %}

{% block title %}VGB Blog: {{ post.title }}{% endblock %}
{% block content %}
<div class="container-md py-5">
  <div class="row g-5">
    <div class="col-md-8">

      <article class="blog-post">
        <small class="mb-2">{% post_tags post %}</small>
        <h1 class="blog-post-title border-0 m-0 p-0">{{ post.title }}</h1>
        <div class="d-flex align-items-center justify-content-between pb-2 mb-2 border-bottom">
          <small>By <a href="#">{{ post.author|capfirst }}</a></small>
          <small>{{ post.publish|date:"F j Y | h:i a"}}{% if has_been_updated %} | Updated {{ post.updated|naturaltime }}{% endif %}</small>
        </div>
        <p>{{ post.body|markdown }}</p>
      </article>
  
      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled">Newer</a>
      </nav>
  
    </div>

    {% include 'blog/snippets/sidebar.html' with similar_posts=similar_posts %}

  </div>
</div>

<!-- TODO
NEXT POST
RATE THIS POST -->
{% endblock content %}
  