{% extends 'blog/base.html' %}

{% load static %}
{% load humanize %}
{% load blog_tags %}

{% block title %}TODO TITLE{% endblock %}
{% block content %}
<div class="container-md pt-5">
  <div class="row g-5"> 
    <div class="col-md-8">
      <form action="{% url 'blog:search' %}" method="get" class="input-group">
        <button type="submit" class="btn btn-outline-success">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
        {{ search_form }} <!-- TODO Make it have the query search term preloaded -->
      </form>
      <div id="results" class="d-flex align-items-center justify-content-between">
        {% with results.count as total_results %}
        <h2 class="pb-3 border-0"><span>{{ total_results }}</span> Result{{ total_results|pluralize }}</h2>
        {% endwith %}
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item">
            <a href="">
              <small>newest</small>
            </a>
          </li>
          <li class="list-group-item">
            <a href="">
              <small>oldest</small>
            </a>
          </li>
          <li class="list-group-item">
            <a href="">
              <small>relevancy</small>
            </a>
          </li>
        </ul>
      </div>
      {% for post in results %}
      <div class="card mb-3 border-0">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'blog/img/profile.jpeg' %}" class="img-fluid rounded-start" alt="placeholder">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <h6 class="card-title text-muted fw-normal">By <span class="fw-bold">{{ post.author|capfirst }}</span> | {{ post.publish|date:"F j Y | h:i a "}}</h6>
              <p class="card-text">{{ post.body|truncatewords:30 }}</p>
              {% if post.has_been_updated %}
                <p class="card-text"><small class="text-muted">Last updated {{ post.updated|naturaltime }}</small></p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      
      {% if not forloop.last %}
        <hr>
      {% endif %}
  
      {% empty %}
        <p>No results found</p>
      {% endfor %}

      {% include 'blog/pagination.html' with page=results %}
    </div>

    <!-- SIDEBAR -->
    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3">
          <h4 class="fst-italic">Popular</h4>
          <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
        </div>

        {% show_latest_posts %}
  
        {% archive_dates %}

        {% include 'blog/snippets/social_media.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
  